div#counter {
  z-index: 5;
}

div#counter video#bg-video {
  z-index: 2;
}

div#content {
  z-index: 4;
}

div#counter:after {
  content: "";
  background: rgba(0, 0, 0, .5);
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

div#fireworks {
  z-index: 1;
}

div#fireworks:after {
  content: "";
  background: rgba(0, 0, 0, .5);
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

div#fireworks h1 {
  z-index: 1;
  transform: translateX(-50%) translateY(125%);
}

div#fireworks video#fireworks-video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: auto;
  z-index: 0;
}
